extends ../layouts/default

block js
  script.
    var serviceGroups = !{JSON.stringify(serviceGroups)},
        services = !{JSON.stringify(services)};
  script(src="/js/services.js")
  script(src="/js/non-home.js")  

block css
  link(href="/styles/services.css", rel="stylesheet")
  
block content
  .clear
  .container-fluid.content
    .row.row-services
      .col-lg-12
        .centered.clear
          .content-width.ta-left
            h1.ta-left PRICING.

            .os-header
              .os-box-sel.hidden
              each serviceGroup, ix in serviceGroups
                .os-box(id=serviceGroup.id, ix=ix)
                  .service!= serviceGroup.name
                    .sub Room
            .service-template.hidden
              .service
                .head
                  .name
                  .cost
                .description
            .service-content