.footer
  .centered
    .content-max-width.footer-box
      a(href=links.Schedule.uri, target='_blank')
        .book-btn BOOK ONLINE
      .address 7155 E. Colfax Ave. Denver, Colorado&nbsp; | &nbsp;303.284.9535
      .social
        a(href=links.Facebook.uri, target='_blank')
          i.fa.fa-facebook
        a(href=links.Twitter.uri, target='_blank')
          i.fa.fa-twitter
        a(href=links.Instagram.uri, target='_blank')
          i.fa.fa-instagram
        a(href=links.Yelp.uri, target='_blank')
          i.fa.fa-yelp
      .sign-in
        ul.nav.navbar-nav
          if user
            if user.canAccessKeystone
              li: a(href='/keystone') Open Keystone
            li: a(href='/keystone/signout') Sign Out
          else
            li: a(href='/keystone/signin') Sign In